# IDE files
.idea/
.vscode/

# Picture folder
pics/
pictures/

# Archives
*.tgz

# Config files
#config.yaml
.env

# Python environments
env/
venv/

# Audio filetypes
*.ogg
*.opus
*.wav

# Log files
*.log

# Test File
test.py
