# IDE files
.idea/
.vscode/
*.code-workspace

# Picture folder
pics/
pictures/

# Archives
*.tgz

# Config files
#config.yaml
user_tokens.yaml
.env

# Python environments
env/
venv/

# Audio files
*.ogg
*.opus
*.wav
audio/ramin.mp3

# Log files
*.log

# Test File
test.py

# Python Cache Folder
__pycache__

